.table td, .table th{
  vertical-align: middle;
  padding:10px;
}
.box_followers{
  text-align: center;
  cursor: pointer;
}
.groupavatar{
  width: 100px;
  background-size: contain;
  height: 100px;
  background-repeat: no-repeat;
  background-position: center;
}
.group_name{
  text-align: center;
}
.imgpregrp{
  width: 100%;
  background-color: #a9d3d6;
}
.box_groups{
  cursor: pointer;
  height: 100px;
  overflow: hidden; 
}
.btn_mygroups{
  background-color: #e7f6f8;
  float: left;
  margin-right: 10px;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
  position: absolute;
  top: 5px;
  right: 5px;
}
.btn_mygroups:hover{
  background-color: #a9d3d6;
}
.card-body{
  position: relative;
}
.btn_groups_ver{
  background-color: #e7f6f8;
  float: left;
  margin-right: 10px;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
  top: 5px;
  right: 5px;
  text-decoration: none;
}
.btn_groups_ver:hover{
  background-color: #a9d3d6;
  color: #fff;
}
.btn_groups_seguir{
  background-color: #e9e1cf;
  float: right;
  margin-right: 10px;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
  top: 5px;
  right: 5px;
  text-decoration: none;
  color: #a58a4f;
}
.btn_groups_seguir:hover{
  background-color: #d3bd8b;
  color:#fff;
}
.cardhgt{
  height: 175px;
  cursor: pointer;
}
.cardhgt:hover{
  box-shadow: 0px 0px 3px 1px #ccc;
}
.cardimghead{
  height: 80px;
  overflow: hidden;
  background-color: #a9d3d6;
}
.marganot{
  margin-bottom: 15px;
}
.cardtitlep{
  color: #1b85ad;
}