<div class="row">
	<div class="col-sm-12">
		<div style="width: 100%;position: relative;height: 50px;">
			<div class="btn_mygroups" routerLink="/list-groups" routerLinkActive="active"><span class="ion ion-md-people"></span> Meus grupos</div>
		</div>
		<div class="input-group">
			<input 
			style="border-right: 1px solid white" 
			type="text" class="form-control" 
			(input)="GroupFindByName($event)"  
			placeholder="Pesquise por um grupo">
		</div>
	</div>
</div><br/><br/>
<div class="row">
	<div class="col-sm-3 marganot" *ngFor="let gp of groups">
		<div class="card cardhgt" routerLink="/group/{{gp._id}}" routerLinkActive="active">
			<div class="cardimghead">
				<img class="card-img-top imgpregrp" src="{{gp.avatar}}" alt="">
			</div>
			<div class="card-body">
				<span class="cardtitlep">{{gp.name}}</span>
			</div>
		</div>
	</div>
	<div *ngIf="gpencont">Nenhum grupo encontrado</div>
</div>