<div class="row">
    <div style="width: 100%">
        Publicação no grupo <b>'{{namegroup}}'</b>
    </div>
</div><br/><br/>
<div class="row">
  <div style="width: 100%">
      <label class="btn_sel_image" for="imagem"><span class="ion ion-md-camera"></span> Seleciona imagem</label>
      <input #fileInput autoComplete="off" style="display: none;" (change)="onFileChange($event)" id="imagem" type="file" accept='image/*|video/*' name="imagem">
      <br/><br/><br/>
      <img class="imguplprev" *ngIf="imagePreview" [src]="sanitizer.bypassSecurityTrustUrl(imagePreview)">
  </div>
  <div style="width: 100%">
    <label for="legenda">Mensagem:</label><br/>
    <textarea #message id="message" name="message" class="user_post_subtitle" rows="3"></textarea><br/>
  </div>
  <br/><br/>
  <div style="width: 100%">
      <div class="btn_profile" (click)="AddPublication($event)"><span class="ion ion-md-create"></span> Publicar </div>
      <div class="txtmsnup" *ngIf="publicando">{{menspubl}}</div>
  </div>
</div><br/><br/>