.botaolupa{
  background-color: #fff;
  border-radius: 5px;
  padding: 10px;
  font-size: 25px;
  width: 100px;
  text-align: center;
  box-shadow: 0px 2px 6px 0px #ccc;
  margin-right: 10px;
}
.botaobaixar{
  background-color: #5aafb6;
  border-radius: 5px;
  padding: 17px;
  font-size: 15px;
  color: #fff;
  width: 140px;
  text-align: center;
  box-shadow: 0px 2px 6px 0px #ccc;
}