<div class="container">
  <div class="row">
    <div class="col-md-12">
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/home">
          <img src="../assets/imgs/logo.png">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText"
          aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
          <ul class="navbar-nav ml-md-auto">
            <li class="nav-item active">
              <a class="nav-link botaolupa" routerLink="/search" routerLinkActive="active"><span class="ion ion-md-search"></span></a>
            </li>
            <li class="nav-item active">
              <a class="nav-link botaobaixar" href="javascript:;" style="color: #fff;">Baixe o app
                <span class="ion ion-md-logo-apple"></span>
                <span class="ion ion-md-logo-android"></span>
              </a>
            </li>
          </ul>
        </div>
      </nav>
    </div>
  </div>
</div>