<div class="hdtsett">
  <span class="titset">Configurações</span>
</div>

<div class="row">
  <div class="divsett_1">
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
      
      <!--<label for="pass" class="color_1">Alterar senha</label><br/><br/>
      <input 
      id="pass"
      placeholder="Digite aqui a nova senha" 
      autocomplete="off" 
      type="password" 
      formControlName="pass" 
      class="input_senha" 
      [ngClass]="{ 'is-invalid': submitted && f.pass.errors }" />
      <div *ngIf="submitted && f.pass.errors" class="invalid-feedback">
          <div *ngIf="f.pass.errors.required">Campo obrigatório</div>
      </div>
      <br/><br/>-->

      <div class="form-group">
          <label for="passenha">Senha</label>
          <input readonly placeholder="Digite aqui a nova senha" 
          onfocus="this.removeAttribute('readonly');" type="password" value="" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
          <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
              <div *ngIf="f.password.errors.required">Campo obrigatório</div>
              <div *ngIf="f.password.errors.minlength">Senha deve conter ao menos 6 caracteres</div>
          </div>
          <div *ngIf="passchang">{{textosenha}}</div>
      </div>
      
      <button class="btn_alterar">Alterar</button>
    </form> <br/><br/>
  </div>
  <div class="divsett_2">
    <span class="color_1">Excluir conta</span><br/><br/>
    <span class="btn_alterar" (click)="desativar()">Excluir</span>
  </div>
</div>