.btn_alterar{
  background-color: #42a3ab;
  padding: 15px;
  color: #fff;
  border-radius: 10px;
  font-size: 14px;
  cursor: pointer;
}
.input_senha{
  padding: 10px;
  border-radius: 8px;
}
.hdtsett{
	margin-bottom: 25px; border-bottom: 1px solid #e2e1e1;
}
.titset{
	font-size: 35px; color: #576275;
}
.divsett_1{
	margin-left: 15px; height: 170px; border-bottom: 1px solid #e2e1e1; width: 100%;
}
.divsett_2{
	margin-left: 15px;margin-top: 15px; height: 170px; width: 100%;
}
.color_1{
	color: #42a3ab;
}
.form-control, .form-control:disabled, .form-control[readonly]{
  width: 50%;
  background-color: #fff;
}
