.table td, .table th{
  vertical-align: middle;
  padding:10px;
}
.box_followers{
  text-align: center;
  cursor: pointer;
}
.groupavatar{
  width: 100%;
  background-size: contain;
  height: 75px;
  background-repeat: no-repeat;
  background-position: center;
}
.group_name{
  text-align: center;
}
.box_groups{
  cursor: pointer;
  height: 100px;
  overflow: hidden; 
}
.btn_mygroups{
  background-color: #e7f6f8;
  margin-right: 10px;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
  position: absolute;
  top: 5px;
}
.fltrig_btn{
  float: right;
  right: 0px;
}
.fltlef_btn{
  float: left;
  left: 0px;
}
.btn_mygroups:hover{
  background-color: #a9d3d6;
}
.btn_mygroups_edit{
  background-color: #e7f6f8;
  float: left;
  margin-right: 10px;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
  top: 5px;
  right: 5px;
  text-decoration: none;
}
.btn_mygroups_edit:hover{
  background-color: #a9d3d6;
  color: #fff;
}
.btn_mygroups_publ{
  background-color: #e9e1cf;
  float: left;
  margin-right: 10px;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
  top: 5px;
  right: 5px;
  text-decoration: none;
  color: #a58a4f;
}
.btn_mygroups_publ:hover{
  background-color: #d3bd8b;
  color:#fff;
}
.btn_mygroups_opt_del{
  background-color: #ffdfdf;
  float: left;
  margin-right: 10px;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
  top: 5px;
  right: 5px;
  text-decoration: none;
  color: rgb(187, 97, 97);
}
.btn_mygroups_opt_del:hover{
  background-color: #e2afaf;
  color: #fff;
}

.overmodalpag{
  top: 1px;
  position: absolute;
  z-index: 999999;
  background-color: #fff;
  width: 100%;
  height: 100%;
  padding: 20px;
  left: 1px;
  opacity: 0;
  display: none;
  text-align: center;
}
.modalpag{
  background-color: #a9d3d6;
  padding: 25px;
}
.bodymdl{
  width: 100%;
}
.bodymdl p{
  color: #309080;
  font-size: 20px;
}
.btnmdls{
  margin-right: 10px;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
}
.btnmdls_color_del{
  background-color: #ffdfdf;
  color: rgb(187, 97, 97);
}
.btnmdls_color_del:hover{
  background-color: #f0caca;
}
.btnmdls_color_con{
  background-color: #cdf3c4;
  color: rgb(80, 175, 71);
}
.btnmdls_color_con:hover{
  background-color: #abdda0;
}
.overmodalpag_open {
  display: block;
  animation-name: fadein;
    -webkit-animation-name: fadein;

    animation-duration: 0.5s;
    -webkit-animation-duration: 0.5s;

    animation-timing-function: ease;
    -webkit-animation-timing-function: ease;

     animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
}



@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}
