<div style="width: 100%;position: relative;">
	<div class="btn_mygroups fltlef_btn" routerLink="/groups" routerLinkActive="active"><span class="ion ion-md-arrow-back"></span> Voltar</div>
	<div class="btn_mygroups fltrig_btn" routerLink="/create-group" routerLinkActive="active"><span class="ion ion-md-brush"></span> Criar grupo</div>
</div>
<br/><br/>
<div *ngIf="mygroups?.length > 0">
	<div class="row">
		<div class="table-responsive">
			<table class="table">
				<thead>
					<tr>
						<th>#</th>
						<th>Nome do grupo</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<tr *ngFor="let gp of mygroups">
						<td><div class="groupavatar" [ngStyle]="{ 'background-image': 'url(' + gp.avatar + ')'}"></div></td>
						<td>
							<a class="btn-link" routerLink="/group/{{gp._id}}" routerLinkActive="active">{{gp.name}}</a>
						</td>
						<td>
							<a class="btn_mygroups_edit" routerLink="/edit-group/{{gp._id}}" routerLinkActive="active"><span class="ion ion-md-clipboard"></span> Editar</a> &nbsp; &nbsp; 
							<a class="btn_mygroups_publ" routerLink="/publication-group/{{gp._id}}/{{gp.name}}" routerLinkActive="active"><span class="ion ion-md-attach"></span> Publicar</a>
							<a class="btn_mygroups_opt_del" (click)="modalDelete(gp._id,gp.name)" href="javascript:;"><span class="ion ion-md-trash"></span> Deletar</a>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>
<div *ngIf="mygroups?.length == 0" style="width: 100%; text-align: center">
	<span style="font-size: 25px;">Nenhum grupo encontrado</span>
</div>
<div [ngClass]="{'overmodalpag_open': showmodal }" class="overmodalpag">
	<div class="modalpag">
		<div class="bodymdl">
			<p>Confirma exclusão do grupo <b>'{{nomegrupo}}'</b> ? </p>
			<span class="btnmdls btnmdls_color_con" (click)="confirmar()">Confirmar </span> 
			<span class="btnmdls btnmdls_color_del" (click)="fechamodal()"> Cancelar</span>
		</div>
	</div>
</div>