<div class="row" style="text-align: center;">
  <div style="width: 100%;">
    <div class="user_profile_box">
      <div class="btn_profile" routerLink="/edit-profile" routerLinkActive="active"><span class="ion ion-md-brush"></span> Editar perfil</div>
      <div class="imgover">
        <div class="circletag" [ngStyle]="{ 'background-image': 'url(' + user.avatar + ')'}"></div>
      </div>
      <div>
        <div class="user_name">{{user.displayName}}</div>
        <div class="user_stars">
          <div class="wdt100">
            <span class="strast"><span class="ion ion-md-star"></span></span> 4,5
          </div>
        </div>
      </div>
      <div class="user_details">
        <span class="user_counts"><b>Fotos</b> {{photocount}}</span>
        <span class="user_counts"><b>Me segue</b> {{followerscount}}</span>
        <span class="user_counts"><b>Eu sigo</b> {{followinsgcount}}</span>
      </div>
      <br/>
      <span class="presentation">{{user.presentation ? user.presentation : ' - Edite seu perfil, escreva sua apresentação - '}}</span>
    </div>
    <br/>
    <div class="row">
      <div class="col-sm-3" *ngFor="let pht of photopublications;">
        <img src="{{pht.filePublication[0].url}}" width="100%">
      </div>
    </div>
  </div>
</div>
