.menu_profile_box{
  width: 100%;
}
.btn_profile{
  background-color: #e7f6f8;
  float: left;
  margin-right: 10px;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
  position: absolute;
  top: 5px;
  right: 5px;
}
.btn_profile:hover{
  background-color: #a9d3d6;
}
.user_profile_box{
  text-align: center;
  position: relative;
}
.imgover{
  display: table;
  margin: 0 auto;
  text-align: center;
}
.circletag {
  display: block;
  width: 80px;
  height: 80px;
  background: #E6E7ED;
  text-align: center;
  align-content: center;
  align-items: center;
  border-radious: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  max-height: 100%;
  max-width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.user_details{
  margin-top: 20px;
  width: 100%;
}
.user_counts{
  margin-right: 100px;
}
.user_photos{
  width: 100%;
  margin-top: 40px;
}
.user_box_photo{
  float: left;
  width: 10%;
}
.wdt100{
  width: 100%;
}
.strast{
  color: yellow; font-size: 20px;
}
.rounded-circle {
    border-radius: 50% !important;
}
.presentation{
  text-align: center;
  padding: 10px;
  color: #9f9f9f;
  font-style: italic;
}