<div class="hedextr">
	<span class="titleext">Extrato</span>
</div>
<div class="row">
	<div class="table-responsive">
	  <table class="table table-hover">
	    <thead>
	      <tr>
	        <th> Usuário </th>
	        <th> Data</th>
	        <th> Tipo de chamada </th>
	        <th> Duração </th>
	        <th> Valor total </th>
	      </tr>
	    </thead>
	    <tbody>
	      <tr>
	        <td> xxxxx </td>
	        <td> xxxxx </td>
	        <td> xxxxx </td>
	        <td> xxxxx </td>
	        <td> xxxxx </td>
	      </tr>
	    </tbody>
	  </table>
	</div>
</div>