.menu_user_box{
  width: 100%;
  text-align: center;
  height: 100px;
  margin: 0 auto;
  margin-top: 35px;
}
.btn_user_flw{
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  color: #000;
  width: 130px;
  margin-right: 15px;
  float: left;
}
.btn_user_flw:hover{
  background-color: #ccc;
  cursor: pointer;
}
.btn_user_unflw{
  background-color: #42a4ac;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  color: #fff;
  width: 130px;
  margin-right: 15px;
  float: left;
}
.btn_user_unflw:hover{
  cursor: pointer;
  color: #000;
}
.user_profile_box{
  text-align: center;
  margin-top: 1px;
}
.user_image{
  display: table;
  margin: 0 auto;
  text-align: center;
}
.user_details_top{
  
}
.user_details{
  margin-top: 20px;
}
.menu_user_box_inner{
  display: table;
  margin: 0 auto;
}
.user_counts{
  margin-right: 100px;
}
.user_photos{
  width: 100%;
  margin-top: 40px;
}
.user_box_photo{
  float: left;
}
.wdt100{
  width: 100%;
}
.strast{
  color: yellow; font-size: 20px;
}
.presentation{
  text-align: center;
  padding: 10px;
  color: #9f9f9f;
  font-style: italic;
}
a{
  text-decoration: none;
}