
<div>

  <div class="user_profile_box">
    <div class="user_image">
      <img class="rounded-circle" [src]="user.avatar" alt="" width="95">
    </div>
    <div class="user_details_top">
      <div class="user_name">{{user.displayName}}</div>
      <div class="user_stars">
        <div class="wdt100">
          <span class="strast"><span class="ion ion-md-star"></span></span> 4,5
        </div>
      </div>
      <div class="menu_user_box">
        <div class="menu_user_box_inner">
          <div [ngClass]="{'btn_user_unflw': checkflw(user._id), 'btn_user_flw': !checkflw(user._id) }" (click)="Follow_And_UnFollow($event,user._id)">
            <span class="ion ion-md-person"></span> {{checkflw(user._id) ? 'Seguindo' : 'Seguir'}}
          </div>
          <a (click)="rediMess(user)" class="btn_user_flw"><span class="ion ion-md-videocam"></span> Conversar</a>
          <!--<a routerLink="/messages/{{user._id}}" routerLinkActive="active" class="btn_user_flw"><span class="ion ion-md-videocam"></span> Conversar</a>-->
          <div class="btn_user_flw"><img src="../assets/imgs/money_icon.png"> Incentivar</div>
        </div>
      </div>
    </div>
    <div class="user_details">
        <span class="user_counts">
          <b>Fotos</b> 30 
        </span>
        <span class="user_counts">
          <b>Me segue</b> 123 
        </span>
        <span class="user_counts">
          <b>Eu sigo</b> 3021 
        </span>
    </div>
    <br/><span class="presentation">{{user.presentation ? user.presentation : ' - prefil sem apresenção - '}}</span>
    <br/><br/>
  </div>


  <tabset [justified]="true" style="width: 100%">
    <tab class="mt-2" (select)="onSelect($event,1)">
      <ng-template tabHeading>
        Aberto
      </ng-template>

      <div class="user_photos">
        <div class="user_box_photo">
          <img src="../assets/imgs/bruna_portifl.jpg">
        </div>
        <div class="user_box_photo">
          <img src="../assets/imgs/bruna_portifl.jpg">
        </div>
        <div class="user_box_photo">
          <img src="../assets/imgs/bruna_portifl.jpg">
        </div>
        <div class="user_box_photo">
          <img src="../assets/imgs/bruna_portifl.jpg">
        </div>
      </div>
      <div class="user_photos">
        <div class="user_box_photo">
          <img src="../assets/imgs/bruna_portifl.jpg">
        </div>
        <div class="user_box_photo">
          <img src="../assets/imgs/bruna_portifl.jpg">
        </div>
        <div class="user_box_photo">
          <img src="../assets/imgs/bruna_portifl.jpg">
        </div>
        <div class="user_box_photo">
          <img src="../assets/imgs/bruna_portifl.jpg">
        </div>
      </div>
      <div class="user_photos">
        <div class="user_box_photo">
          <img src="../assets/imgs/bruna_portifl.jpg">
        </div>
        <div class="user_box_photo">
          <img src="../assets/imgs/bruna_portifl.jpg">
        </div>
        <div class="user_box_photo">
          <img src="../assets/imgs/bruna_portifl.jpg">
        </div>
        <div class="user_box_photo">
          <img src="../assets/imgs/bruna_portifl.jpg">
        </div>
      </div>

    </tab>
    <tab class="mt-2" (select)="onSelect($event,2)">
      <ng-template tabHeading>
        Vip <!-- <img src="assets/imgs/mini_logo.pg"> -->
      </ng-template>
      área vip
    </tab>
  </tabset>

</div>
