<div class="input-group">
	<input 
	style="border-right: 1px solid white" 
	type="text" 
	class="form-control" 
	(input)="UserFindByDisplayName($event)" 
	placeholder="Digite o nome do usuário">
</div>

<!--
<div *ngIf="listUsers?.length == 0" style="color: gray">
  <br>
  <b>nenhum usuário encontrado em sua busca</b>
</div>-->
<br/><br/>
<div *ngIf="listUsers?.length > 0">
	<div class="row">
		<div class="col-md-3" *ngFor="let usr of listUsers">
			<div class="box_followers" routerLink="/user/{{usr._id}}" routerLinkActive="active">
				<div class="image_follower">
					<img class="clip-circle" [src]="usr.avatar">
				</div>
				<div class="follower_name">
					<strong>{{usr.displayName}} &nbsp;</strong>
					<img [src]="usr.state ? '../assets/imgs/ball_green.png' : '../assets/imgs/ball_red.png'">
					<br/>
					<span>(ATLETA)</span>
				</div>
			</div>
		</div>
	</div>
</div>

<!--
	<span *ngIf="listUsers?.length > 0" style="cursor: pointer;" (click)="addPage()">próximo</span>
-->