.groupheader{
    height: 200px;
    width: 100%;
    padding: 20px;
    background-position: center;
    background-size: cover;
    /*background-size: auto 100%;*/
    background-repeat: no-repeat;
    margin-top: 10px;
    background-color: #d4e2e7;
}
.topgroup{
    position: relative;
    width: 100%;
    padding: 5px;
    box-shadow: 0px 0px 3px 1px #ccc;
}
.namegroup{
    padding: 10px;
    color: #157ea5;
    font-size: 20px;
    left: 5px;
    position: absolute;
    bottom: 5px;
}
.btnshead_group{
    right: 5px;
    position: absolute;
    bottom: 5px;
    clear: both;
}
.btn_group{
    background-color: #e7f6f8;
    margin-right: 10px;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
}
.btn_group:hover{
    background-color: #d1e8eb;
}