<div class="topgroup">
	<div style="width: 100%">
    <div class="text-center" style="position: relative;">
      <div class="groupheader" [ngStyle]="imgupl ? { 'background-image': 'url(' + imgupl + ')'} : ''"></div>
		</div>
		<br/>
	</div>
	<div style="width: 100%;margin-top: 50px;">
    <div class="namegroup">
      {{namegroup}}
		</div>
		<div class="btnshead_group">
			<div class="btn_group"> Seguir</div>
		</div>
	</div>
</div><br/><br/>
<feed [tipo]=tipo [(objectLIst)]="listPublications"></feed>