 .card_pay{
    border-radius: 4px;
    height: 250px;
    text-align: center;
    vertical-align: middle;
    border:1px solid #b9b9b9;
  }
  .card_pay a{
    text-decoration: none;
    color: #989898;
  }
  .card_pay a:hover{
    color: #000;
  }
  .card_pay_header{
    background-color: #42a4ac;
    height: 60%;
    text-align: center;
    padding-top: 30px;
  }
  .card_pay_header span{
    color: #ffcc00;
    font-size: 57px;
    text-align: center;
    vertical-align: middle;
  }
  .card_pay_valor{
    font-size: 35px;
    font-weight: bold;
    color: #000;
  }
  .card_pay_button{
    font-size: 23px;
  }
  .boxcoluna-3{
    text-align: center;
  }
  .coluna-3{
    float: left;
    width: 24%;
    margin-right: 1%;
  }