  
<div class="row">
    <div class="boxcoluna-3">
      <div class="coluna-3">
        <div class="card_pay">
          <div class="card_pay_header">
            <span>450</span>
            <img src="../assets/imgs/money_icon_amarelo.png">
          </div>
          <div class="card_pay_valor">R$ 29,90</div>
          <a href="#" class="card_pay_button">COMPRAR</a>
        </div>
      </div>

      <div class="coluna-3">
        <div class="card_pay">
          <div class="card_pay_header">
            <span>1000</span>
            <img src="../assets/imgs/money_icon_amarelo.png">
          </div>
          <div class="card_pay_valor">R$ 59,90</div>
          <a href="#" class="card_pay_button">COMPRAR</a>
        </div>
      </div>
      <div class="coluna-3">
        <div class="card_pay">
          <div class="card_pay_header">
            <span>5000</span>
            <img src="../assets/imgs/money_icon_amarelo.png">
          </div>
          <div class="card_pay_valor">R$ 129,90</div>
          <a href="#" class="card_pay_button">COMPRAR</a>
        </div>
      </div>
      <div class="coluna-3">
        <div class="card_pay">
          <div class="card_pay_header">
            <span>10000</span>
            <img src="../assets/imgs/money_icon_amarelo.png">
          </div>
          <div class="card_pay_valor">R$ 229,90</div>
          <a href="#" class="card_pay_button">COMPRAR</a>
        </div>
      </div>
    </div>
</div>
