<div *ngIf="shcom">
  <app-header></app-header>
  <app-moments></app-moments>
  <div class="container margemtopomom">
    <div class="row">
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-3">
            <app-menu></app-menu>
          </div>
          <div class="col-md-9">
            <router-outlet></router-outlet>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="!shcom">
  <app-header></app-header>
  <div class="container margemtopomom">
    <div class="row">
      <div class="col-md-12">
        <div class="">
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
  </div>
</div>

