<div *ngIf="objectLIst.length > 0">
  <div *ngFor="let vlr of objectLIst; let i = index" class="home_perfil">
    <div class="card gedf-card">
        <div class="card-header">
            <div class="d-flex justify-content-between align-items-center">
                <a href="javascript:;" class="d-flex justify-content-between align-items-center">
                    <div class="mr-2">
                    <div class="imgover">
                      <div class="circletag" [ngStyle]="{ 'background-image': 'url(' + vlr.userId.avatar + ')'}"></div>
                    </div>
                    </div>
                    <a routerLink="/user/{{vlr.userId._id}}" routerLinkActive="active" class="ml-2">
                        <div class="h5 m-0"><b>{{vlr.userId.displayName}} {{vlr?.length}}</b></div>
                        <div class="h7 text-muted">Atleta</div>
                    </a>
                </a>
                <div class="flrig" *ngIf="vlr.userId.online"><span class="badge badge-success">online</span></div>
            </div>
        </div>
        <div class="card-body" *ngIf="vlr.filePublication[0]">
          <div class="overimgfeed">
            <img class="img_following" src="{{vlr.filePublication[0].url}}">
          </div>
        </div>
        <div class="card-footer">
          <div class="width100 hg40">
            <div class="fllft">
              <a href="javascript:;" title="curtir/descutir" id="heart_{{vlr._id}}" (click)="curtir_descurtir(vlr._id)" [ngClass]="p(vlr.like) ? 'descurtir_cor': 'curtir_cor'" class="card-link-curtir ">
                <span class="ion ion-md-heart"></span>
              </a>
              <a title="chat/vídeo" routerLink="/messages" routerLinkActive="active" class="card-link"><span class="ion ion-md-chatbubbles"></span></a>
            </div>
            <div class="flrig">
              <span>Incentivar </span> <img src="../assets/imgs/money_icon.png">
            </div>
          </div><br/><br/>
          <div class="width100">
            <b style="font-size: 14px">
              <span id="crt_{{vlr._id}}">{{vlr.totalLike}}</span> curtidas
            </b>
            <br/>
            <span>{{vlr.message}}</span>
          </div><br/>
          <div class="commen">
            <input (keyup.enter)="comentar(vlr._id,vlr.totalComment,vlr.comment)" id="comtr_{{vlr._id}}" class="width100" type="text" placeholder="Comentar..." name="">
            <div id="co_pre_{{vlr._id}}" class="preloadcome"></div>
            <div style="display: none;" id="comment_{{vlr._id}}">
              <ul>
                <li *ngFor="let p of vlr.comment" class="licome">
                  <div class="container" style="margin-top: 10px">
                    <div class="row">
                      <div class="col-sm-12 col-md-1 col-xl-1 col-lg-1 text-center">
                        <img class="d-flex align-self-center mr-3" src="{{p.userId.avatar}}" class="rounded-circle imgcomus">
                      </div>
                      <div class="col-11">
                        <div class="rw text-xl-justify text-lg-justify text-md-justify text-justify">
                          <strong>{{p.userId.displayName}}</strong>
                          <br> {{p.comment}}
                        </div>
                      </div>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
            <div class="vercmt" *ngIf="vlr.totalComment > 0" (click)="showcomts($event.target,vlr._id)">Ver comentários</div>
          </div>
          <br/><br/>
        </div>
    </div>
  </div>
</div>
<!-- <button (click)="updateViews()">Add Views Counter</button> -->