.imgover{
    display: table;
    margin: 0 auto;
    text-align: center;
  }
  .circletag {
    display: block;
    width: 50px;
    height: 50px;
    background: #E6E7ED;
    text-align: center;
    align-content: center;
    align-items: center;
    border-radious: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    max-height: 100%;
    max-width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  .img_following{
    width: 100%;
    background-size: cover;
  }
  .overimgfeed{
    max-height: 100vh;
    overflow: hidden;
  }
  .home_perfil{
    margin-bottom: 50px;
    z-index: -5;
  }
  .card{
    border:0px;
  }
  .card-header {
    box-shadow: 0px 0px 3px 1px #ccc;
    background-color: #fff;
  }
  .card-footer{
    box-shadow: 0px 1px 3px 1px #ccc;
  }
  .card-body{
    padding: 0px;
  }
  .card-link{
    font-size: 30px;
    color: #aba9a9;
  }
  .card-link-curtir{
    font-size: 30px;
    margin-right: 17px;
  }
  .curtir_cor{
    color: #aba9a9;
  }
  .descurtir_cor{
    color: red;
  }
  a{
    text-decoration: none;
  }
  .flrig{
    float: right;
  }
  .fllft{
    float: left;
  }
  .commen{
    width: 100%;
    position: relative;
  }
  .preloadcome{
    background: url('../../../assets/imgs/loader.gif');
    position: absolute;
    background-repeat: no-repeat;
    background-position: center;
    display: none;
    height: 50px;
    width: 50px;
    top: -7px;
    right: 50%;
  }
  .width100{
    width: 100%;
  }
  .vercmt{
    color: #5a5a5a;
    font-size: 14px;
    width: 100%;
    text-align: center;
    margin-top: 15px;
  }
  .vercmt:hover{
    color: #000;
    cursor: pointer;
  }
  .licome{
    list-style: none; margin-left: -20px;
  }
  .imgcomus{
    width: 40px; border: 2px solid #D8D8D8;
  }
  ul{
    padding-left: 0px;
  }