.groupheader{
    height: 200px;
    width: 100%;
    padding: 20px;
    background-position: center;
    background-size: cover;
    /*background-size: auto 100%;*/
    background-repeat: no-repeat;
}
.groupheader_bg{
    background-color: #d4e2e7;
}
.lablupimg{
    height: 100%;
    padding-top: 80px;
    cursor: pointer;
    position: absolute;
    left: 1px;
    width: 100%;
    opacity: 0.4;
}
.lablupimg:hover{
    color: #fff;
    opacity: 1;
}