
<div class="row">
  <div class="messaging">
      <div class="inbox_msg">
        <div class="inbox_people">
   
          <div class="">
            
            <div class="">
             <img src="../assets/imgs/video_exemplo.png">
            </div>

          </div>
        </div>
        <div class="mesgs">
          <div class="msg_history">

            <div class="incoming_msg">
              <div class="incoming_msg_img"> <img src="../assets/imgs/profile_rounded.png" alt="sunil"> </div>
              <div class="received_msg">
                <div class="received_withd_msg">
                  <p>Olá, como vai você?</p>
                  <!--<span class="time_date"> 11:01 AM    |    June 9</span></div>-->
              </div>
            </div>
            <div class="outgoing_msg">
              <div class="sent_msg">
                <p>Suave, vamos pro vídeo?</p>
              </div>
            </div>
            <div class="incoming_msg">
              <div class="incoming_msg_img"> <img src="../assets/imgs/profile_rounded.png" alt="sunil"> </div>
              <div class="received_msg">
                <div class="received_withd_msg">
                  <p>Test, which is a new approach to have</p>
                </div>
              </div>
            </div>
            <div class="outgoing_msg">
              <div class="sent_msg">
                <p>Apollsssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssso University, Delhi, India Test</p>
              </div>
            </div>
          </div>
          
            <div class="incoming_msg">
              <div class="incoming_msg_img"> <img src="../assets/imgs/profile_rounded.png" alt="sunil"> </div>
              <div class="received_msg">
                <div class="received_withd_msg">
                  <p>Olá, como vai você?</p>
                  <!--<span class="time_date"> 11:01 AM    |    June 9</span></div>-->
              </div>
            </div>
            <div class="outgoing_msg">
              <div class="sent_msg">
                <p>Suave, vamos pro vídeo?</p>
                </div>
            </div>
            <div class="incoming_msg">
              <div class="incoming_msg_img"> <img src="../assets/imgs/profile_rounded.png" alt="sunil"> </div>
              <div class="received_msg">
                <div class="received_withd_msg">
                  <p>Test, which is a new approach to have</p>
                </div>
              </div>
            </div>
            <div class="outgoing_msg">
              <div class="sent_msg">
                <p>Apollsssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssso University, Delhi, India Test</p>
                </div>
            </div>
          </div>
          
            <div class="incoming_msg">
              <div class="incoming_msg_img"> <img src="../assets/imgs/profile_rounded.png" alt="sunil"> </div>
              <div class="received_msg">
                <div class="received_withd_msg">
                  <p>Olá, como vai você?</p>
                  <!--<span class="time_date"> 11:01 AM    |    June 9</span></div>-->
              </div>
            </div>
            <div class="outgoing_msg">
              <div class="sent_msg">
                <p>Suave, vamos pro vídeo?</p>
              </div>
            </div>
            <div class="incoming_msg">
              <div class="incoming_msg_img"> <img src="../assets/imgs/profile_rounded.png" alt="sunil"> </div>
              <div class="received_msg">
                <div class="received_withd_msg">
                  <p>Test, which is a new approach to have</p>
                </div>
              </div>
            </div>
            <div class="outgoing_msg">
              <div class="sent_msg">
                <p>Apollsssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssso University, Delhi, India Test</p>
              </div>
            </div>
          </div>

        </div>

        <div class="type_msg">
          <div class="input_msg_write">
            <input type="text" class="write_msg" placeholder="Escreva sua mensagem">
            <button class="msg_send_btn" type="button"><i class="fa fa-paper-plane-o" aria-hidden="true"></i></button>
          </div>
        </div>
      </div>
    </div></div>
  
</div>