<div class="row">
  <div class="messaging">
    <div class="inbox_msg">
      <div class="inbox_people">
        <div class="headind_srch">
          <div class="recent_heading">
            <h4>Caixa de entrada</h4>
          </div>
        </div>
        <div class="inbox_chat">
            <div id="chlist_pai" class="chat_list" *ngFor="let us of usersChats">
              <div (click)="initChat(us.user_id)" id="usrch_{{us.user_id}}">
                <div class="chat_people">
                  <div class="chat_img">
                    <img src="{{us.user_avatar}}" alt="p">
                  </div>
                  <div class="chat_ib">
                    <h5>{{us.user_displayName}} <span id="cont_user_{{us.user_id}}" class="badge badge-pill badge-danger"></span></h5>
                    <p>{{us.creationDate}}</p>
                  </div>
                </div>
              </div>
            </div>
        </div>
      </div>

      <div class="mesgs">
          <div class="go_up" *ngIf="setgoup" (click)="goUp(iduserChat)"><span class="ion ion-md-arrow-dropup-circle"></span></div>
          <div *ngIf="initichatload" class="preloadcome"></div>
          <a 
          routerLink="/calling/{{iduserChat}}" 
          routerLinkActive="active" 
          class="btn_vc" 
          *ngIf="initichatlink"
          >
            <span class="ion ion-md-videocam"></span> Vídeo Chamada
          </a>
          <div #scrollMe class="msg_history">
            <div *ngFor="let ct of conversa">
              <div class="incoming_msg" *ngIf="userinsession._id != ct.userFromChat">
                <div class="incoming_msg_img"><img src="{{ct.avatar}}" alt="p"></div>
                <div class="received_msg">
                  <div class="received_withd_msg"><p>{{ct.text}}</p></div>
                </div>
              </div>
              <div class="outgoing_msg" *ngIf="userinsession._id == ct.userFromChat">
                <div class="sent_msg"><p>{{ct.text}}</p></div>
              </div>
            </div>
          </div>
          <div class="type_msg">
            <div class="input_msg_write">
              <input (keyup.enter)="enviarmsg($event,iduserChat)" [disabled]="disabled" type="text" class="write_msg" placeholder="Escreva sua mensagem">
              <!--<button class="msg_send_btn" type="button"><i class="fa fa-paper-plane-o" aria-hidden="true"></i></button>-->
            </div>
          </div>
          <div class="go_down" *ngIf="setgodown" (click)="goDwon()"><span class="ion ion-md-arrow-dropdown-circle"></span></div>
      </div>
    </div>
  </div>
</div>