.user_post_subtitle{
  width: 100%;
  border-radius: 3px;
}
.btn_profile{
  background-color: #dceeef;
  
  margin-top: 10px;
  float: left;
  margin-right: 10px;
  padding: 15px;
  border-radius: 5px;
  cursor: pointer;
}
.btn_profile:hover{
  background-color: #a9d3d6;
}
textarea{
  padding: 8px;
}
.btn_sel_image{
  background-color: #dceeef;
  float: left;
  margin-right: 10px;
  padding: 15px;
  border-radius: 5px;
  cursor: pointer;
}
.btn_sel_image:hover{
  background-color: #a9d3d6;
}
.imguplprev{
  width: 70%;
}
.txtmsnup{
  color: #42a4ac;
  padding-top: 15px;
}