<div class="row">
    <div style="width: 100%">
        <label class="btn_sel_image" for="imagem"><span class="ion ion-md-camera"></span> Seleciona imagem</label>
        <input #fileInput autoComplete="off" style="display: none;" (change)="onFileChange($event)" id="imagem" type="file" accept='image/*|video/*' name="imagem">
        
        <br/><br/><br/>
        <!--<img class="imguplprev" *ngIf="imguplupl" [src]="imgupl">-->
        <img class="imguplprev" *ngIf="imagePreview" [src]="sanitizer.bypassSecurityTrustUrl(imagePreview)">
    </div>
    <div style="width: 100%">
        <div class="form-check">
            <label class="form-check-label" style="cursor: pointer;">
                <input type="radio" class="form-check-input" checked="" (click)="setTipo(1)" name="optradio">Publicação Aberta
            </label>
            <label class="form-check-label" style="margin-left: 50px;cursor: pointer;">
                <input type="radio" class="form-check-input" (click)="setTipo(2)" name="optradio">Publicação Vip
            </label>
        </div><br/>
    </div><br/>

    <div style="width: 100%">
	    <label for="legenda">Legenda:</label><br/>
	    <textarea #message id="message" name="message" class="user_post_subtitle" rows="3"></textarea><br/>
    </div>
    <br/><br/>
    <div style="width: 100%"><br/>
        <div class="form-check">
            <label class="form-check-label" style="cursor: pointer;">
                <input type="radio" class="form-check-input" checked="" (click)="setTipoPub(1)" name="optpub">Publicar no Feed inicial
            </label>
            <label class="form-check-label" style="margin-left: 50px;cursor: pointer;">
                <input type="radio" class="form-check-input" (click)="setTipoPub(2)" name="optpub">Publicar em Momentos
            </label>
        </div><br/>
    </div><br/>
    <div style="width: 100%">
        <div class="btn_profile" (click)="AddPublication($event)"><span class="ion ion-md-create"></span> Publicar </div>
        <div class="txtmsnup" *ngIf="publicando">{{menspubl}}</div>
    </div>
</div><br/><br/>