.box_followers{
  text-align: center;
  cursor: pointer;
}
.image_follower{

}
.image_follower img{
  border-radius: 50%;
  width: 100px;
  clip-path: circle(90px at center);
}
.follower_name{

}
.clip-circle {
  /*clip-path: circle(90px at center);*/
}

.circle {
  width: 30px;
  height: 30px;
  background: red;
  -moz-border-radius: 30px;
  -webkit-border-radius: 30px;
  border-radius: 30px;
}
.nav-item a{
  color: #fff;
}
.hdsflow{
  text-align: center;
  margin-bottom: 25px;
  position: relative;
}
.tifle{
  font-size: 35px;
}
.pesquisa{
  position: absolute;
  right: 5px;
  top: 5px;
}