<div class="hdsflow">
	<span class="tifle">Me segue ({{followerTotal}})</span>
	<div class="pesquisa">
		<input 
		style="border-right: 1px solid white" 
		type="text" 
		class="form-control" 
		(input)="filterUser($event)" 
		placeholder="Pesquise um nome"
		>
	</div>
</div>

<div class="row">
	<div class="col-md-3" *ngFor="let sigo of followerUser">
		<div class="box_followers" routerLink="/user/{{sigo._id}}" routerLinkActive="active">
			<div class="image_follower">
				<img class="clip-circle" [src]="sigo.avatar">
			</div>
			<div class="follower_name">
				<strong>{{sigo.displayName}} &nbsp;</strong>
				<img [src]="sigo.state ? '../assets/imgs/ball_green.png' : '../assets/imgs/ball_red.png'">
				<br/>
				<span>(ATLETA)</span>
			</div>
		</div>
	</div>
</div>