<div class="wrp_menu">
	<div class="width100">
		<div class="imgover">
			<div class="circletag" [ngStyle]="{ 'background-image': 'url(' + user.avatar + ')'}"></div>
		</div>
		<div class="width100 textodetauser">
			{{user.displayName}}
		</div>
		<div class="width100 textodetauser">
			<span class="staruser"><span class="ion ion-md-star"></span> </span> 4,5
		</div>
		<div class="sft">
			<div class="fllef">
			  <a routerLink="/credits" routerLinkActive="active" class="btn btn-warning btn-sm">Comprar moedas</a>
			</div>
			<div class="flrigt_m">
			  <span class="fs10">saldo</span><br/>
			  <span class="cdst">450 </span> 
			  <img width="15" src="../assets/imgs/money_icon_amarelo.png">
			</div>
		</div>
	</div><br/><br/>
	<div class="brdivs"></div>
	<div class="menulinks">
		<a class="link_menu" routerLink="/home" routerLinkActive="active"><span class="ion ion-md-home"></span> Página inicial </a><br/>
		<a class="link_menu" routerLink="/profile" routerLinkActive="active"><span class="ion ion-md-person"></span> Meu Perfil </a><br/>
		<a class="link_menu" routerLink="/groups" routerLinkActive="active"><span class="ion ion-md-people"></span> Grupos </a><br/>
		<a class="link_menu" routerLink="/publish" routerLinkActive="active"><span class="ion ion-md-send"></span> Publicar </a><br/>
		<a class="link_menu" href="javascript:;" (click)="resetCnMes()" routerLink="/messages" routerLinkActive="active"><span class="ion ion-md-chatboxes"></span> Mensagens <span class="badge badge-danger" *ngIf="ifcount">{{countmess}}</span></a><br/>
		<a class="link_menu" routerLink="/followers" routerLinkActive="active"><span class="ion ion-md-star"></span> Me segue </a><br/>
		<a class="link_menu" routerLink="/following" routerLinkActive="active"><span class="ion ion-md-heart"></span> Eu sigo </a><br/>
		<a class="link_menu" routerLink="/extract" routerLinkActive="active"><span class="ion ion-md-cash"></span> Extrato </a><br/>
		<a class="link_menu" routerLink="/settings" routerLinkActive="active"><span class="ion ion-md-settings"></span> Configurações </a><br/>
		<a class="link_menu" href="javascript:;" (click)="logout()" >&nbsp; &nbsp;  Logout </a>
	</div>
</div>