.imgover{
  display: table;
  margin: 0 auto;
  text-align: center;
}
.circletag {
  display: block;
  width: 80px;
  height: 80px;
  background: #E6E7ED;
  text-align: center;
  align-content: center;
  align-items: center;
  border-radious: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  max-height: 100%;
  max-width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.link_menu{
  height: 300px;
  color: #fff;
}
.active{
  color: yellow;
}

.link_menu:hover{
  text-decoration: none;
  color: yellow;
}
.wrp_menu{
  height: auto; background: #42a4ac; padding: 25px
}
.width100{
  width: 100%;
}
.hg40{
  height: 40px;
}
.textodetauser{
  color: #fff;text-align: center;
}
.staruser{
  color: yellow; font-size: 20px;
}
.sft{
  width: 100%;color: #fff;margin-top: 10px;
}
.fllef{
  float: left;
}
.flrigt_m{
  float: right;
  margin-top: -20px;
}
.brdivs{
  border-bottom: 1px solid #e6e6e6; margin-top: 15px;margin-bottom: 15px; width: 100%;
}
.fs10{
  font-size: 10px;
}
.cdst{
  color: #ffcc00; font-weight: bold;
}
a{
  text-decoration: none;
}