.momentosdiv_over{
  width: 100%;
}
.momentosdiv{
  top: 77px;
  /*background-color: #43a4ab;
  width: 100%;*/
  padding-left: 30px;
  padding-right: 30px;
  height: 190px;
  background-image: linear-gradient(141deg, #9fb8ad 0%, #1fc8db 51%, #25a6d6 75%);
}
.box_momento{
  margin-top: 15px;
  position: relative;
  width: 102%;
  overflow:scroll;
  overflow-y: hidden;
  white-space:nowrap;
  overflow-x: hidden;
  white-space: nowrap;
}
.titulo_box_momento{
  margin-top: 12px;
  text-align: center;
  width: 100%;
  font-size: 25px;
  color: #fff;
}
.box_item_momento{
  margin-right: 40px;
    height: 100%;
    display: inline-block;
}
.item_momento{
  width: 80px;
  height: 80px;
  border: 3px solid #fff;
  border-radius: 3px;
  background-color: #000;
  padding: 5px;
  color: #fff;
  margin-bottom: 2px;
}
.nome_item{
  color: #fff;
}
.arrow_right{
  cursor: pointer;
  position: absolute;
  top: 50%;
  right: -30px;
  z-index: 5000;
  width: 0px;
  height: 0px;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-left: 15px solid #ccc;
}

.box_item_momento:hover {
  transform: scale(0.9);
  cursor: pointer;
}

.arrow_right:hover{
  border-left: 15px solid #fff;
}
