<div class="container">
<div class="momentosdiv">
    <div class="row">
        <div class="col-lg-12">
            <div class="titulo_box_momento">Momentos</div>
            <ngx-gallery [options]="galleryOptions" [images]="galleryImages"></ngx-gallery>
            <!--<div id="scrollit" class="box_momento">
                <div class="box_item_momento">
                  <div class="item_momento"></div>
                  <div class="nome_item">Nome 1</div>
                </div>
            </div>-->
          </div>
      <!--
      <div class="col-lg-12">
        <div class="titulo_box_momento">Momentos</div>
        <div id="scrollit" class="box_momento">
            <div class="box_item_momento">
              <div class="item_momento"></div>
              <div class="nome_item">Nome 1</div>
            </div>
            <div class="box_item_momento">
              <div class="item_momento"></div>
              <div class="nome_item">Nome 2</div>
            </div>
            <div class="box_item_momento">
              <div class="item_momento"></div>
              <div class="nome_item">Nome 3</div>
            </div>
            <div class="box_item_momento">
              <div class="item_momento"></div>
              <div class="nome_item">Nome 4</div>
            </div>
            <div class="box_item_momento">
              <div class="item_momento"></div>
              <div class="nome_item">Nome 5</div>
            </div>
            <div class="box_item_momento">
              <div class="item_momento"></div>
              <div class="nome_item">Nome 6</div>
            </div>
            <div class="box_item_momento">
              <div class="item_momento"></div>
              <div class="nome_item">Nome 7</div>
            </div>
            <div class="box_item_momento">
              <div class="item_momento"></div>
              <div class="nome_item">Nome 8</div>
            </div>
            <div class="box_item_momento">
              <div class="item_momento"></div>
              <div class="nome_item">Nome 9</div>
            </div>
            <div class="box_item_momento">
              <div class="item_momento"></div>
              <div class="nome_item">Nome 10</div>
            </div>
            <div class="box_item_momento">
              <div class="item_momento"></div>
              <div class="nome_item">Nome 11</div>
            </div>
            <div class="box_item_momento">
              <div class="item_momento"></div>
              <div class="nome_item">Nome 12</div>
            </div>
            <div class="box_item_momento">
              <div class="item_momento"></div>
              <div class="nome_item">Nome ultimo</div>
            </div>
            <div class="box_item_momento">
              <div class="item_momento"></div>
              <div class="nome_item">Nome ultimo2</div>
            </div>
            <div class="box_item_momento">
              <div class="item_momento"></div>
              <div class="nome_item">Nome ultimo3</div>
            </div>
            <div class="box_item_momento">
              <div class="item_momento"></div>
              <div class="nome_item">Nome ultim545o</div>
            </div>
            <div class="box_item_momento">
              <div class="item_momento"></div>
              <div class="nome_item">Nome ultimo</div>
            </div>
            <div class="box_item_momento">
              <div class="item_momento"></div>
              <div class="nome_item">Nome ultimo</div>
            </div>
            <div class="box_item_momento">
              <div class="item_momento"></div>
              <div class="nome_item">Nome ultimo</div>
            </div>
            <div class="box_item_momento">
              <div class="item_momento"></div>
              <div class="nome_item">Nome ultimo</div>
            </div>
            <div class="box_item_momento">
              <div class="item_momento"></div>
              <div class="nome_item">Nome ultimo</div>
            </div>
            <div class="box_item_momento">
              <div class="item_momento"></div>
              <div class="nome_item">Nome ultimoCCCC</div>
            </div>
            <div class="box_item_momento">
              <div class="item_momento"></div>
              <div class="nome_item">Nome ultimoBBBBBB</div>
            </div>
            <div class="box_item_momento">
              <div class="item_momento"></div>
              <div class="nome_item">Nome ultimoAAAAAA</div>
            </div>
        </div>
        <div id="target" class="arrow_right"></div>
      </div>-->

    </div>
  </div>
</div>